.movieDetailsContainer {
    display: flex;
    gap: 2rem;
    height: 400px;
}

.movieImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.movieDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.movieTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.movieTitle h2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.movieTitle span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid lightslategray;
}

.movieReleaseAndDuration {
    display: flex;
    gap: 2rem;
    color: var(--primary-color);
}

.movieDescription {
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.5;
}


