.context-menu-container {
    position: absolute;
    right: 5px;
    top: 5px;
}

.context-menu-container button {
    border-radius: 50px;
}

.context-menu {
    position: absolute;
    z-index: 10;
    top: 105%;
    right: 5px;
    min-width: 120px;
    padding: 0.5rem;
}

.context-menu > div {
    padding: 10px;
    cursor: pointer;
}

.context-menu > div:hover {
    background-color: var(--primary-color);
}

