.contextMenuContainer {
    position: absolute;
    right: 5px;
    top: 5px;
}

.contextMenuContainer button {
    border-radius: 50px;
}

.contextMenu {
    position: absolute;
    z-index: 10;
    top: 105%;
    right: 5px;
    min-width: 120px;
    padding: 0.5rem;
}

.contextMenu > div {
    padding: 10px;
    cursor: pointer;
}

.contextMenu > div:hover {
    background-color: var(--primary-color);
}

