.header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    background-image: url('../assets/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
