.header {
    padding: 20px;
    position: relative;
    background-image: url('../assets/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.3;*/
    /*filter: blur(4px);*/
    height: 400px;
}

.header .content {
    width: calc(100% - 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
