:root {
    --primary-color: #F65261;
    --background-darkest: #424242;
    --background-dark: #232323;
    --background-medium: #555555;
    --text-light: #FFFFFF;
    --text-dark: #232323
}

/* Utility classes */
.text-light {
    color: var(--text-light);
}

.text-primary {
    color: var(--primary-color);
}

.text-bold {
    font-weight: bold;
}

.bg-darkest {
    background-color: var(--background-darkest);
}

.bg-dark {
    background-color: var(--background-dark);
}

.bg-medium {
    background-color: var(--background-medium);
}

.modal {
    background-color: var(--background-medium);
    color: var(--text-light);
}
