.container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.label {
    text-transform: uppercase;
    opacity: 0.6;
}

.select {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
