.form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.textArea {
    flex: 1;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
}
