#root {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.search-field-title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.search-app-header {
    align-items: flex-start;
    flex: 2;
}

.movie-search {
    flex: 4;
}




