@import "./theme/theme.css";

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  padding: 2rem;
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text-light);
  background-color: var(--background-medium);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form-control-flex-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#overlay {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#overlay:empty {
  display: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

